{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2022",
    "keepClassNames": true
  },
  "module": {
    "type": "nodenext"
  },
  "sourceMaps": true
}
